body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent horizontal scrolling */
}

.homePage {
  display: flex;
  flex-direction: row;
  height: 100vh;
  max-width: 100%;
  overflow: hidden; /* Prevent horizontal scrolling */
}

/* Add this style to prevent horizontal scrolling */
.homePage::-webkit-scrollbar {
  display: none;
}

/* Expand the content to fill the entire page */
.homePage > * {
  flex: 1;
}

/* Other existing styles remain unchanged */
